<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members</title>
     <style>
        table {
            width: 75%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        .button-container {
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
        }
        .action-buttons button {
            margin-right: 5px;
        }
    </style>
</head>
<body>
    <h1>Members</h1>
    <table>
         <thead>
            <tr>
                <th>ID</th>
                <th>Surname</th>
                <th>Name</th>
                <th>Patronymic</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            {% for member in data %}
            <tr>
                <td>{{ member.members_id }}</td>
                <td>{{ member.surname }}</td>
                <td>{{ member.name }}</td>
                <td>{{ member.patronymic }}</td>
                <td>{{ member.phone_number }}</td>
                <td class="action-buttons">
                    <button onclick="location.href='{% url 'edit_member' member.members_id %}'">Edit</button>
                    <form action="{% url 'delete_member' member.members_id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('Are you sure you want to delete this member?')">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="button-container">
        <button onclick="location.href='{% url 'create_member' %}'">Create New Member</button>
    </div>
    <button onclick="location.href='{% url 'index' %}'">Back</button>
</body>
</html>
