<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Music Band</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/crud_style.css' %}">
</head>
<body>
<div class="container">
    <h1>Edit Music Band</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
        <button onclick="location.href='{% url 'music_bands' %}'">Cancel</button>
    </form>
</div>
</body>
</html>
