<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Tables</title>
</head>
<body>
    <h1>Database Tables</h1>
    <button onclick="location.href='{% url 'members' %}'">View Members</button>
    <button onclick="location.href='{% url 'music_bands' %}'">View Music Bands</button>
    <button onclick="location.href='{% url 'concert_halls' %}'">View Concert Halls</button>
    <button onclick="location.href='{% url 'member_roles' %}'">View Member Roles</button>
    <button onclick="location.href='{% url 'concert_hall_contracts' %}'">View Concert Hall Contracts</button>
    <button onclick="location.href='{% url 'concert_hall_managers' %}'">View Concert Hall Managers</button>
    <button onclick="location.href='{% url 'concert_programs' %}'">View Concert Programs</button>
    <button onclick="location.href='{% url 'member_to_music_bands' %}'">View Member To Music Bands</button>
    <button onclick="location.href='{% url 'music_band_contracts' %}'">View Music Band Contracts</button>
</body>
</html>
