<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQL Query</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sql_query_style.css' %}">
    <script>
        function insertQuery(query) {
            document.getElementById('sql-query-input').value = query;
        }
    </script>
</head>
<body>
    <div class="button-container">
        <button onclick="insertQuery('SELECT surname, name, patronymic, phone_number, concert_hall.concert_hall_name FROM concert_hall_manager JOIN concert_hall ON concert_hall_manager.concert_hall = concert_hall.concert_hall_id;')">Concert Hall Managers and their Halls</button>
        <button onclick="insertQuery('SELECT members.surname, members.name, members.patronymic, music_band.music_band_name FROM member_to_music_band JOIN members ON member_to_music_band.member = members.members_id JOIN music_band ON member_to_music_band.music_band = music_band.music_band_id WHERE music_band.music_band_name = &quot;Weaponized Mayhem&quot;')">Weaponized Mayhem's members</button>
        <button onclick="insertQuery('SELECT concert_hall_name, address, quantity_of_people, hall_square_area FROM concert_hall WHERE hall_square_area = (SELECT MAX(hall_square_area) FROM concert_hall);')">Select The Biggest Concert Hall</button>
        <button onclick="insertQuery('SELECT concert_hall.concert_hall_name, music_band.music_band_name, concert_program.concert_date, concert_program.concert_start_time, concert_program.concert_end_time FROM concert_program JOIN concert_hall ON concert_program.concert_hall = concert_hall.concert_hall_id JOIN music_band ON concert_program.music_band = music_band.music_band_id WHERE concert_hall.ticket_revenue_percent = (SELECT MIN(concert_hall.ticket_revenue_percent) FROM concert_hall);')">Concert Program with minimal Hall Revenue %</button>
        <button onclick="insertQuery('SELECT * FROM members;')">Select All Members</button>
    </div>
    <h1>Execute SQL Query</h1>
    <form method="post">
        {% csrf_token %}
        <textarea id="sql-query-input" name="sql_query" rows="10" cols="50" placeholder="Enter your SQL query here"></textarea><br>
        <button type="submit">Execute</button>
    </form>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    {% if results %}
        <h2>Results:</h2>
        <table>
            <thead>
                <tr>
                    {% for column in columns %}
                        <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in results %}
                    <tr>
                        {% for cell in row %}
                            <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <button onclick="location.href='{% url 'index' %}'">Back</button>
</body>
</html>
